.mainmenu
	position: absolute
	z-index: 100
	top: -3rem
	width: 100%
	margin: 3rem 0 0
	font-rem(1rem)
	text-align: center

	@media print
		display: none

	&.is-fixed
		position: fixed
		top: 0
		margin: 0
		box-shadow: $shadow
		background: $base_dark
		background: $base_dark_alpha
		transition: top .2s ease-in-out

	&__item
		display: inline-block
		padding: .5rem
		color: #AAA
		text-decoration: none

		&:hover
			color: #FFF

		&:after
			display: block
			content: ''
			height: .2rem
			margin: .1rem 0 0
			font-size: 0
			border-radius: .1rem

		for $slide in keys($slides)
			&_{$slide}:hover:after
			&_{$slide}.is-active:after
				background: $slides[$slide][1]
