.projects
	padding: 2rem $side_padding 0
	text-align: center

.project
	display: inline-block
	position: relative
	width: 30%
	margin: 0 1.5% 1rem
	padding: 0 0 .7rem 0
	text-align: center
	vertical-align: top

	&:hover &__shutter
		height: 100%
		opacity: 1

	&__title
		font-rem(1.5rem, 1.0, $font_condensed)

	&__image
		display: block
		width: 100%

	&__shutter
		position: absolute
		overflow: hidden
		top: 0
		left: 0
		width: 100%
		height: 0
		padding: 1rem
		opacity: 0
		color: #FFF
		background: $base_dark
		background: $base_dark_alpha
		box-sizing: border-box
		transition: all .2s ease-in-out
		font-rem(.6rem, 1.6, $font_default)

		@media only screen and (max-width: 1000px)
			display: none

		&__caption
			display: block
			padding: .3rem 0 .7rem
			color: #FFF
			font-rem(1rem, 1.4, $font_condensed)

@media only screen and (max-width: $medium_screen)
	.project
		width: 45%
		margin: 0 2.5%
