.title
	text-align: center

	for $slide in keys($slides)
		&_{$slide}
			.title__icon
				background: url($pattern_path''$slide'.png')
		&_{$slide}
			.title__head
				background: linear-gradient(top, $slides[$slide][0], #FFF)

				@media only screen and (max-width: $medium_screen)
					background: $slides[$slide][0]

				&:before
					display: block
					height: .2rem
					content: ''
					font-size: 0
					background: url($pattern_path''$slide'.png')

	&__head
		margin: 0
		font: 2.2rem $font_condensed
		line-height: 3.5rem
		color: #555

		@media only screen and (max-width: $medium_screen)
			box-shadow: $shadow

		@media print
			line-height: 1.0

	&__wrapper
		position: relative
		margin: 0 $side_padding

		@media only screen and (max-width: $small_screen)
			margin: 0

		@media screen and (min-width: $wide_screen)
			margin: 0 $wide_side_padding

	&__gurt
		position: absolute
		top: -1.25rem
		left: 0
		width: 6rem
		height: 6rem
		background: #FFF
		border-radius: 50%
		box-shadow: $shadow

		@media print
			display: none

	&__icon
		display: inline-block
		width: 5rem
		height: 5rem
		margin: .5rem 0 0
		color: #FFF
		background: $base_dark
		border-radius: 50%
		font-size: 3rem
		line-height: 5rem
		text-shadow: $shadow
		box-shadow: $shadow
