// Variables
$font_path = '../static/fonts/'
$font_default = 'PT Serif', Georgia, 'Times New Roman', serif
$font_condensed = 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif

$image_path = '../static/i/'

$wide_screen = 1500px
$medium_screen = 800px
$small_screen = 450px

$side_padding = 10%
$wide_side_padding = 15%
$shadow = 0 0 .1rem #000
$gray_line = 1px solid #999

$headers = { // [0] - font-size, [1] — margin-top, [2] — margin-bottom
	// h2: (2rem 1rem .7rem)
	// h3: (1.5rem .9rem .6rem)
	// h4: (1.2rem .7rem .5rem)
	h2: (2rem 1rem .7rem)
	h3: (1.5rem 1rem .6rem)
	h4: (1.2rem .7rem .3rem)
}
$slides = {
	about: (#FFFDDD)
	contacts: (#FFEEEE)
	resume: (#EBFFFD)
	portfolio: (#faeeff)
}

// Imports
@import 'nib'
@import 'normalize'
@import 'styl/*'

// Common staff
html
	min-height: 100%
	font-size: 25px
	font-family: $font_default
	line-height: 1.8
	color: #333
	background: #333

body
	min-width: 300px

for $hi in keys($headers)
	{$hi}
		padding: 0
		margin: $headers[$hi][1] 0 $headers[$hi][2]
		font-family: $font_condensed
		font-size: $headers[$hi][0]
		line-height: $headers[$hi][0]

p
	padding: 0
	margin: 0 0 .5rem

a
	color: #66A3CC

	&:hover
		color: #cc6666

.dark
	background: #333 embedurl('../i/dark_geometric.png') // Image inlining for page background

.clearfix
	clearfix()

.is-implicit
	position: absolute
	width: 0
	height: 0

.is-hidden
	opacity: 0

@media only screen and (max-width: $medium_screen)
	html
		font-size: 15px

@media only screen and (max-width: $small_screen)
	html
		font-size: 15px
