// Variables
$font_path = '../static/fonts/'
$image_path = '../static/i/'
$shadow = 0 0 .1rem #000

// Fonts
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext');

// Imports
@import 'nib'
@import 'normalize'
@import 'styl/*'

// Common staff
html
	min-height: 100%
	font-size: 25px
	font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
	line-height: 1.2
	font-weight: 400
	color: #222
	background: #222 embedurl('../i/bg.png') // Image inlining for page background

body
	min-width: 300px

.clearfix
	clearfix()

.is-implicit
	position: absolute
	width: 0
	height: 0

@media only screen and (max-width: 800px)
	html
		font-size: 15px

@media only screen and (max-width: 450px)
	html
		font-size: 10px
