$pages = {
	about: (#FFFDDD)
	contacts: (#FFEEEE)
	resume: (#EBFFFD)
	portfolio: (#faeeff)
}

.content
	padding: 1.5rem 10%
	font-size: .8rem
	background: #FFF
	
	for $page in keys($pages)
		&_{$page}
			background: $pages[$page]

	h1, h2, h3
		color: #666

	a
		color: #666

		&:hover
			color: #000
