.contacts
	padding: 0
	list-style: none

.contact
	vertical-align: middle

	&_delim
		width: 10rem
		margin: .5rem 0
		border-top: .05rem solid #999

	&__icon
		display: inline-block
		margin: 0 .4rem 0 0