.content
	padding: 1.5rem 10%
	font-size: .8rem
	background: #FFF
	
	&_about
		background: #FFFDDD

	&_contacts
		background: #FFEEEE

	h1, h2, h3
		color: #666

	a
		color: #666

		&:hover
			color: #000
