@font-face
	font-family: 'Flaticon'
	src: url($font_path'flaticon.eot')
	src: url($font_path'flaticon.eot#iefix') format('embedded-opentype'),
		url($font_path'flaticon.woff') format('woff'),
		url($font_path'flaticon.ttf') format('truetype'),
		url($font_path'flaticon.svg') format('svg')
	font-weight: normal
	font-style: normal

[class^='flaticon-']:before, [class*=' flaticon-']:before,
[class^='flaticon-']:after, [class*=' flaticon-']:after
	font-family: Flaticon
	font-style: normal

.flaticon-
	&address14:before
		content '\e000'

	&check59:before
		content '\e001'

	&code16:before
		content '\e002'

	&curriculum:before
		content '\e003'

	&email6:before
		content '\e004'

	&facebook29:before
		content '\e005'

	&github13:before
		content '\e006'

	&hiking:before
		content '\e007'

	&hotel75:before
		content '\e008'

	&html-tag:before
		content '\e009'

	&list23:before
		content '\e00a'

	&male210:before
		content '\e00b'

	&man143:before
		content '\e00c'

	&nerd8:before
		content '\e00d'

	&phone72:before
		content '\e00e'

	&photos12:before
		content '\e00f'

	&portfolio14:before
		content '\e010'

	&social19:before
		content '\e011'

	&social5:before
		content '\e012'

	&social6:before
		content '\e013'

	&youtube17:before
		content '\e014'
