.footer
	padding: 1rem 10%
	color: #FFF

	&__head
		margin: 0
		padding: 0
		font: 1rem/1.4 $font_condensed

	&__list
		padding: 0
		font-size: .6rem
		line-height: 1.4
		list-style: none
		column-count: 3

		a
			color: #DDD

			&:hover
				color: #FFF
