.jumbotron
	padding: 3rem 0
	text-align: center
	color: #FFF
	background: rgba(0, 0, 0, .3)
	text-shadow: 0 0 .1rem rgba(0, 0, 0, .5)
	
	&__name
		font-size: 3rem
	
	&__desc
		margin: 0
		font-size: 2rem
		font-style: italic
