.slide
	padding: 0 0 3rem 0
	font-size: .8rem
	background: #FFF

	&__text
		padding: 0 10%

		&_center
			text-align: center
		
		&_free
			padding-top: 1rem

	h2, h3, h4
		font-weight: normal
		text-align: center

	ul
		padding: 0 0 0 1rem
		list-style: square
