.slide
	padding: 0 0 2rem 0
	font-size: .8rem
	background: #FFF

	&__text
		padding: 0 $side_padding

		@media screen and (min-width: $wide_screen)
			padding: 0 $wide_side_padding

		&_free
			padding-top: 2rem
