.tiles
	width: 80%
	margin: 1rem auto
	background: rgba(255, 200, 200, .3)

.tile
	float: left
	width: 45%
	padding: 1rem
	box-sizing: border-box
	color: #FFF
	background: rgba(0, 0, 255, .3)
	text-align: center
	text-decoration: none

	&:nth-child(odd)
		margin: 1rem 5% 1rem 0

	&:nth-child(even)
		margin: 1rem 0 1rem 5%

	&__icon
		display: block
		text-align: center
