.title
	text-align: center

	for $slide in keys($slides)
		&_{$slide}
			.title__icon,
			.title__icon:hover
				background: url($image_path''$slide'.png')
		&_{$slide}
			.title__head
				background: $slides[$slide]

	&__head
		margin: 0
		font: 2.5rem/1.2 $font_condensed
		box-shadow: $shadow

	&__text
		display: block
		width: 50%

	&__gurt
		width: 6rem
		height: 6rem
		margin: -4.5rem auto 0
		background: #FFF
		border-radius: 50%
		box-shadow: $shadow

	&__icon,
	&__icon:hover
		display: inline-block
		width: 5rem
		height: 5rem
		margin: .5rem 0 0
		color: #FFF
		background: #333
		border-radius: 50%
		font-size: 3rem
		line-height: 5rem
		text-shadow: $shadow
		box-shadow: $shadow
