.title
	text-align: center

	for $slide in keys($slides)
		&_{$slide}
			.title__icon,
			.title__head
				background: url($image_path''$slide'.png')

	&__head
		width: 50%
		margin: 0
		color: #FFF
		text-shadow: $shadow
		border-top: $gray_line
		font: 2rem/1.4 'Open Sans Condensed', $font_default

	&__delimeter
		border-top: $gray_line

	&__gurt
		width: 6rem
		height: 6rem
		margin: -3rem auto 0
		background: #FFF
		border: $gray_line
		border-radius: 50%

	&__icon
		display: inline-block
		width: 5rem
		height: 5rem
		margin: .5rem 0 0
		color: #FFF
		background: #333
		border-radius: 50%
		font-size: 3rem
		line-height: 5rem
		text-shadow: $shadow
		box-shadow: $shadow
