// Variables
$font_path = '/fonts/'
$font_default = 'PT Serif', Georgia, 'Times New Roman', serif
$font_condensed = 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif

$image_path = '/i/'
$pattern_path = $image_path'patterns/'

$wide_screen = 1500px
$medium_screen = 800px
$small_screen = 450px

$side_padding = 10%
$wide_side_padding = 15%
$shadow = 0 0 .1rem #000
$gray_line = 1px solid #999
$base_dark = #333

$headers = { // [0] - font-size, [1] — margin-top, [2] — margin-bottom
	h2: (2rem 1rem .7rem)
	h3: (1.5rem 1.2rem .8rem)
	h4: (1.2rem .8rem .5rem)
}
$slides = {
	about: (#FFFDDD #d7a42d)
	contacts: (#FFEEEE #d04568)
	resume: (#EBFFFD #309287)
	portfolio: (#faeeff #7f30b8)
}

// Mixins

// Holy shit! The rem unit is not supported in IE9 for the font shorthand.
// Proof: http://stackoverflow.com/questions/16157342/css-rem-unit-not-working-with-font-declarations
font-rem($size, $height = 1.0, $family = $font_condensed, $weight = normal)
	font-size: $size
	line-height: $height
	font-family: $family
	font-weight: $weight

// Imports
@import 'nib'
@import 'normalize'
@import 'styl/*'

// Common staff
html
	min-height: 100%
	font-size: 25px
	font-family: $font_default
	line-height: 1.8
	color: $base_dark
	background: $base_dark

body
	min-width: 300px

for $hi in keys($headers)
	{$hi}
		padding: 0
		margin: $headers[$hi][1] 0 $headers[$hi][2]
		font-family: $font_condensed
		font-size: $headers[$hi][0]
		line-height: 1.0

p
	padding: 0
	margin: 0 0 .5rem

a
	color: #66A3CC

	&:hover
		color: #cc6666

	@media print
		text-decoration: none
		color: $base_dark

.dark
	background: $base_dark embedurl('../i/dark_geometric.png') // Image inlining for page background

.clearfix
	clearfix()

.is-implicit
	position: absolute
	width: 0
	height: 0

.is-hidden
	opacity: 0

.is-no-print
	@media print
		display: none

.is-no-screen
	@media screen
		display: none

@media only screen and (max-width: $medium_screen)
	html
		font-size: 20px

@media only screen and (max-width: $small_screen)
	html
		font-size: 15px

@media print
	html
		font-size: 15px
